<% provide(:title, "Contact") %>

<h1>Contact me.</h1>

<p>If you need to learn more about this project, feel free to contact me on adly.tadros@yahoo.com</p>
<p>Also you can find me on twiiter <a href="http://www.twitter.com/AdlyMagdyAdly">@adlymagdyadly</a>.</p>
<p><a href="http://www.facebook.com/AdlyMagdy">My facebook account</a>.</p>