<footer class="footer">
  <small>
    The Sample App is developed by Adly Magdy
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><a href="http://www.facebook.com/AdlyMagdy">News</a></li>
    </ul>
  </nav>
</footer>